# Don't upload Texmaker temp files generated when dealing with the handouts
*.aux
*.log
*.out
*.synctex.gz

# Don't upload InDesign lock files
*.idlk

# Don't upload certain macOS tempfiles
._*.ai
._*.idlk
._*.indd
._*.pdf
._*.png

# Don't upload backup files for Tor Relay/pfSense
hostname
private_key
config-*.xml
